<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="my_ur5">
    <xacro:include filename="$(find my_robot)/urdf/my_ur5_dynamic.urdf.xacro"/>
    <xacro:my_ur5 prefix="my_ur5" joint_limited="True"/>
    <xacro:include filename="$(find my_robot)/urdf/my_ur5.transmission.xacro"/>
    <xacro:my_ur_arm_transmission prefix="my_ur5"/>
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>my_ur5</robotNamespace>
        </plugin>
    </gazebo>

    <link name="world" />
    <joint name="world_joint" type="fixed">
        <parent link="world" />
        <child link = "my_ur5_base_link" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>
</robot>