<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="/cmd_vel" to="/base_controller/command"/>

    <!-- observation sources located in costmap_common.yaml -->
    <rosparam file="$(find iai_donbot_unreal)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find iai_donbot_unreal)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />

    <!-- local costmap, needs size -->
    <rosparam file="$(find iai_donbot_unreal)/config/costmap_local_params.yaml" command="load" />

    <!-- static global costmap, static map provides size -->
    <rosparam file="$(find iai_donbot_unreal)/config/costmap_global_params.yaml" command="load" />

    <rosparam file="$(find iai_donbot_unreal)/config/base_local_planner_params.yaml" command="load"/>
  </node>

</launch>